<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Car</title>
</head>
<body>
    <nav>
        <h1>LapTracker</h1>
        <a href="/">Log Out</a>
        <a href="/cars">Garage</a>
    </nav>
    <h1>Car</h1>
    <ul>
        <li>
            <p><%= car.year %></p>
            <p><%= car.make %></p>
            <p><%= car.model %></p>
            <a href="/cars/<%= car._id %>"><img src="<%= car.img %>" alt="<%= car.name %>"></a>
            
        </li>
        <a href="/cars/<%= car._id %>/edit">Edit</a>
        <form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
        </form>
    </ul>
</body>
</html>