<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Track</title>
</head>
<body>
    <nav>
        <ul>
            <li id="appname">LapTracker</li>
            <li>
                <button id="logout">
                    <a href="/">Log Out</a>
                </button>
            </li>
            <li>
                <button id="tracklist">
                    <a href="/tracks">Tracklist</a>
                </button>
            </li>
        </ul>
    </nav>
    <h2>Track</h2>
    <div id="show">
        <p><%= track.name %></p>
        <p><%= track.location %></p>
        <img src="<%= track.img %>" alt="<%= track.name %>">         
        <p><%= track.lapTime %></p>
        <p><%= track.car.model %></p>
        <p><%= track.date %></p>
    </div>
    <div id="notes">
        <h3>Notes:</h3>
        <p><%= track.notes %></p>
    </div>
    <div>
        <a href="/tracks/<%= track._id %>/edit">Edit</a>
        <form action="/tracks/<%= track._id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
        </form>
    </div>
</body>
</html>