<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Car Index</title>
</head>
<body>
    <nav>
        <ul>
            <li id="appname">LapTracker</li>
            <li>
                <button id="logout">
                    <a href="/">Log Out</a>
                </button>
            </li>
            <li>
                <button id="tracklist">
                    <a href="/tracks">Tracklist</a>
                </button>
            </li>
        </ul>
    </nav>
    <h2>Garage</h2>
    <a href="/cars/new">Add a Car</a>
    <div>
        <ul id="index">
            <% cars.forEach(car => { %>
                <li id="entry">
                    <p><%= car.year %></p>
                    <p><%= car.make %></p>
                    <p><%= car.model %></p>
                    <a href="/cars/<%= car._id %>"><img src="<%= car.img %>" alt="<%= car.name %>"></a>
                 
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>