<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Car</title>
</head>
<body>
    <nav>
        <ul>
            <li id="appname">LapTracker</li>
            <li>
                <button id="logout">
                    <a href="/">Log Out</a>
                </button>
            </li>
            <li>
                <button id="garage">
                    <a href="/cars">Garage</a>
                </button>
            </li>
        </ul>
    </nav>
    <h2>Car</h2>
    <div id="show">
        <p><%= car.year %></p>
        <p><%= car.make %></p>
        <p><%= car.model %></p>
        <img src="<%= car.img %>" alt="<%= car.name %>">
    </div>
    <div id="notes">
        <h3>Notes:</h3>
        <p><%= car.notes %></p>
    </div>
    <div>
        <a href="/cars/<%= car._id %>/edit">Edit</a>
        <form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
        </form>
    </div>
</body>
</html>